.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 3500;
  // Hide popup but still be able to animate it
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    @include absolute-centering;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 0.3rem;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate (-50%, -50%) scale(0.5);
    // Animated popup with a 2s delay
    transition: all 0.4s 0.2s;

    @include respond(tab-land) {
      display: block;
    }
  }

  &__left {
    width: 33.33333%;
    display: table-cell;

    @include respond(tab-land) {
      display: flex;
      width: 50%;
    }
  }

  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-land) {
      display: block;
      margin: auto;
      width: 80%;
    }

    @include respond(phone) {
      width: 95%;
      padding: 1rem 2rem;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    // Creates two columns, gap is 1em default (1em=14px in this case)
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
    -webkit-column-rule: 0.1rem solid $color-grey-light-2;
    -moz-column-rule: 0.1rem solid $color-grey-light-2;
    column-rule: 0.1rem solid $color-grey-light-2;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(phone) {
      width: 90%;
      column-count: 1;
      column-gap: 0;
      column-rule: none;
      font-size: 1.2rem;
    }
  }

  // The popup id class when button triggered is displayed
  // Open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate (-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
